<section>
    <div class="container ">
        <div class="row p-5">
            <div class="col d-flex flex-column justify-content-center align-items-center g-5 gap-5">
                <div class="img-container">
                    <img [src]="imgSec" alt="">
                </div>
                <div class="text">
                    <h1>page not found</h1>
                </div>
                <div>
                    <button class="btn" [routerLink]="'/home'">back to home</button>
                </div>
            </div>
        </div>
    </div>
</section>
